.imageDisplay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

/* Chat Interface */
.chatContainer {
  margin: 0 200px;
  max-width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  box-sizing: border-box;
}

.chatBox {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  min-height: 0;
}

.messagesContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
}

.message {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.messageUser {
  background-color: rgba(0, 0, 0, 0.4);
  align-self: flex-end;
  text-align: left;
}

.messageAssistant {
  background-color: rgba(0, 0, 0, 0.4);
  align-self: flex-start;
  text-align: left;
}

.inputContainer {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.inputTextarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: rgba(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b), 0.15);
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  resize: none;
  outline: none;
}

.inputTextarea::placeholder {
  color: var(--primary-color);
}

.inputButton {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/* Sidebar */
.sidebar {
  position: absolute;
  right: 0;
  width: 200px;
  height: 90vh;
  color: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.sidebarHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.sidebarList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebarListItem {
  margin-bottom: 15px;
}

.sidebarButton {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  transition: background-color 0.3s ease;
}

.selectInput {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  white-space: normal;
  height: 60px;
}

.sidebarButton:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .selectInput {
    width: 40%;
  }

  .chatContainer {
    margin: 0;
    max-width: 100%;
    height: 70vh;
  }
}

/* Dropdown Menu */
.dropdownContainer {
  position: relative;
  display: none;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  text-align: center;
}

.dropdownButton {
  width: 50%;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.dropdownHeading {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdownListItem {
  display: inline-block;
  width: 40%;
  margin: 10px;
  text-align: center;
}

.dropdownContentButton {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  margin-bottom: 5px;
}

/* Show the dropdown on small screens */
@media (max-width: 768px) {
  .dropdownContainer {
    display: block;
  }
}
