@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

body {
  background-color: #024059;
  color: #024059;
}
.dblue {
  background-color: #024059;
  color: #024059;
}
.lblue {
  color: #87CEEB;
}
.white {
  color: white;
}
.header-text {
  color: #87CEEB;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
}
#name {
  font-family: "Montserrat", sans-serif;
  font-size: 600%;
  letter-spacing: 15px;
  display: block;
  width: 100%;
  text-align: justify;
  white-space: nowrap;
  color: #87CEEB;
  opacity: 80%;
}

#name::after {
  content: '';
  display: inline-block;
  width: 100%;
}
.small-text {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  letter-spacing: 12px;
  color: #87CEEB;
  opacity: 80%;
}
#text-container {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#particles {
  z-index: -1;
  height: 100%;
  width: 100%;
  position:absolute;
}

#skydiving {
  opacity: 60%;
  width:100%;
  padding-bottom: 5%;
}

.page-header-text {
  color: #87CEEB;
  font-size: 400%;
  opacity: 75%;
  letter-spacing: 15px;
  font-family: "Montserrat", sans-serif;
}