@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap");

:root {
  --primary-color: #87ceeb;
  --primary-color-r: 135;
  --primary-color-g: 206;
  --primary-color-b: 235;
}

/* Website */
body {
  background-color: #024059;
}

#particles {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Header */

div .header-links-text {
  color: var(--primary-color);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.nav-link svg {
  fill: var(--primary-color);
}

/* Home Page */

#home-name {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  color: var(--primary-color);
  opacity: 80%;
  font-size: 6vw;
  margin-top: 60px;
  padding-bottom: 20px;
  font-weight: normal;
}

@media (max-width: 600px) {
  #home-name {
    white-space: normal;
  }
}

#home-subtext {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  letter-spacing: 12px;
  color: var(--primary-color);
  opacity: 80%;
  padding-bottom: 20px;
  font-weight: normal;
}

div .card {
  width: 275px;
  margin: auto;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  background-color: transparent;
  height: 375px;
  display: flex;
  flex-direction: column;
}

.card-image-container {
  height: 275px;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  white-space: pre-wrap;
  text-align: center;
  font-size: x-large;
  padding: 2%;
}

.card-text {
  text-align: justify;
}

.row.justify-content-center {
  margin-top: 4rem;
}

/* About Page */

#professionalimg {
  opacity: 90%;
  width: 50%;
  padding: 2%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-text {
  text-align: left;
  opacity: 90%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  font-size: large;
}

.center-align {
  justify-content: center;
  align-items: center;
}

.top-buffer {
  margin-top: 3%;
}

/* Type-Test */

.centered-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
}

#type-text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7vw;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  overflow: hidden;
}

#type-text-block.finished {
  opacity: 0.5;
}

.test-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.test-line .char {
  display: inline-flex;
  align-items: center;
}

.test-line .char span {
  display: inline;
}

.test-line .cursor {
  display: inline;
}

.cursor {
  position: absolute;
  animation: blink 1s step-end infinite;
  color: gray;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#timer {
  position: absolute;
  top: -35%;
  color: white;
  font-size: 1.85vw;
}

.set-timer-button {
  border: none;
  background: transparent;
  color: white;
}

#wpm {
  position: absolute;
  top: -35%;
  right: 15%;
  color: white;
  font-size: 1.5vw;
}

#accuracy {
  position: absolute;
  top: -35%;
  right: 0%;
  color: white;
  font-size: 1.5vw;
}

#reset-test {
  background: none;
  border: none;
  cursor: pointer;
  fill: white;
  margin-top: 30px;
}

#reset-test img {
  width: 25px;
  height: 25px;
}

/* AristotleAi */

#image-display {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* Chat Interface */
.chat-container {
  margin: 0 200px;
  max-width: calc(100% - 200px); /* Adjust to prevent overlap */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  box-sizing: border-box;
}

.chat-box {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1; /* Allow it to grow and fill available space */
  min-height: 0; /* Prevent child overflow */
}

.messages-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  padding: 20px;
}

.message {
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 15px;
  font-size: 20px;
  max-width: 80%;
  word-wrap: break-word;
}

.message.user {
  background-color: rgba(0, 0, 0, 0.4);
  align-self: flex-end;
  text-align: left;
}

.message.assistant {
  background-color: rgba(0, 0, 0, 0.4);
  align-self: flex-start;
  text-align: left;
}

.input-container {
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
}

.input-container textarea {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  background: rgba(var(--primary-color-r), var(--primary-color-g), var(--primary-color-b), 0.15);
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  resize: none;
  outline: none;
}

.input-container textarea::placeholder {
  color: var(--primary-color); /* You can change this to any color you prefer */
}

.input-container button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

/* Sidebar */
.sidebar {
  position: absolute;
  right: 0;
  width: 200px;
  height: 90vh;
  color: var(--primary-color);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.sidebar h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  transition: background-color 0.3s ease;
}

div select {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
  white-space: normal;
  height: 60px;
}

.sidebar button:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  select {
    width: 40%;
  }

  /* Adjust chat-container to use full width */
  .chat-container {
    margin: 0;
    max-width: 100%;
    height: 70vh;
  }
}

/* Dropdown Menu */
.dropdown-container {
  position: relative; /* Add this line */
  display: none;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  text-align: center; /* Center the button */
}

.dropdown-content {
  position: absolute; /* Change to absolute positioning */
  top: 100%; /* Position it directly below the dropdown button */
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it appears above other content */
  padding: 10px;
  box-sizing: border-box;
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap; /* Enable two columns */
  justify-content: space-around; /* Space out buttons */
}

.dropdown-button {
  width: 50%; /* 50% width for the button */
  margin: 0 auto; /* Center the button */
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
}

.dropdown-content h3 {
  width: 100%; /* Ensure the heading takes full width */
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

.dropdown-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown-content li {
  display: inline-block; /* Inline block for columns */
  width: 40%; /* Each button takes 40% of the width */
  margin: 10px;
  text-align: center; /* Center buttons in each column */
}

.dropdown-content button {
  width: 100%; /* Make button take full width of its column */
  padding: 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #024059;
  margin-bottom: 5px;
}

/* Show the dropdown on small screens */
@media (max-width: 768px) {
  .dropdown-container {
    display: block;
  }
}

/* Catan Board Generator */

.generate-board-button {
  background-color: #024059;
  color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 2%;
  margin-top: 3%;
  font-size: 16px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.catan-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
  margin-top: 2vh;
}

.catan-board-row {
  display: flex;
  justify-content: center;
  margin-bottom: -3%;
}

.number-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 35%;
}

.number-image {
  width: 100%;
  height: 100%;
}

.catan-tile {
  position: relative;
  width: 15%;
  height: 15%;
  margin: 0.5%;
}

.catan-tile-expansion {
  position: relative;
  width: 11%;
  height: 11%;
  margin: 0.5%;
}

.tile-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .catan-board-row {
    margin-left: -12%;
    margin-right: -12%;
  }
}

@media (max-width: 768px) {
  .generate-board-button {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .button-container {
    flex-direction: column;
  }
}
