@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sedan+SC&display=swap');

/* Website */
body {
  background-color: #024059;
}

#particles {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Header */

.header-links-text {
  color: #87CEEB;
  opacity: 80%;
  font-family: "Montserrat", sans-serif;
}

/* Home Page */

#home-name {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 15px;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  color: #87CEEB;
  opacity: 80%;
  font-size: 6vw;
  margin-top: 60px;
}

@media (max-width: 600px) {
  #home-name {
    white-space: normal;
  }
}

#home-subtext {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  letter-spacing: 12px;
  color: #87CEEB;
  opacity: 80%;
}

.card {
  width: 50%;
  max-width: 300px;
  margin: auto;
  color: #87CEEB;
  border: 1px solid #87CEEB;
  cursor: pointer;
  background-color: transparent;
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: none;
}

.card-img-top {
  height: 100%;
  object-fit: fill;
}

.card-body {
  padding: 1rem;
}

.card-title {
  text-align: center;
  font-size: x-large;
}

.card-text {
  text-align: justify;
}

.row.justify-content-center {
  margin-top: 4rem;
}

/* About Page */

#professionalimg {
  opacity: 90%;
  width: 50%;
  padding: 2%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

.about-text {
  text-align: justify;
  opacity: 80%;
  width:100%;
  font-family: "Montserrat", sans-serif;
  color: #87CEEB;
  font-size: large;
}

.center-align {
  justify-content: center;
  align-items: center;
}

.top-buffer {
  margin-top: 3%;
}

/* Type-Test */

.centered-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
}

#type-text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.7vw;
  width: 100%;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  white-space: nowrap; 
  overflow: hidden;
}

#type-text-block.finished {
  opacity: 0.5;
}

.test-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: 'no-wrap';
}

.word {
  color: gray;
  display: inline-block;
}

.cursor {
  position: absolute;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#timer {
  position: absolute;
  top: -35%;
  color: white;
  font-size: 1.85vw;
}

#wpm {
  position: absolute;
  top: -35%;
  right: 15%;
  color: white;
  font-size: 1.5vw;
}

#accuracy {
  position: absolute;
  top: -35%;
  right: 0%;
  color: white;
  font-size: 1.5vw;
}

#reset-test {
  background: none;
  border: none;
  cursor: pointer;
  fill: white;
  margin-top: 30px;
}

#reset-test img {
  width: 25px;
  height: 25px;
}

/* Catan Generator */

.catan-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 900px;
  margin: auto;
  margin-top: 2vh;
}

.catan-board-row {
  display: flex;
  justify-content: center;
  margin-bottom: -3%;
}

.catan-tile {
  position: relative;
  width: 15%;
  height: 15%;
  margin: 0.5%;
}

.catan-tile-expansion {
  position: relative;
  width: 11%;
  height: 11%;
  margin: 0.5%;
}

.catan-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 35%;
}

.generate-board-button {
  background-color: #024059;
  color: #87CEEB;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 2%;
  margin-top: 3%;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 750px) {
  .catan-board-row {
    margin-left: -12%;
    margin-right: -12%;
  }

  .button-container {
    flex-direction: column;
  }

  .generate-board-button {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 10px; /* Add bottom margin */
  }
}